<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aaa.store08.mapper.FoodMapper">
    <select id="SelFoods" resultType="Food" >
      select t.tId,a.aName,a.aMain,k.kName from area a,tempt t,kind k where a.aId = t.tArea and k.kId = t.tKind
    </select>
    <select id="SelFoodId" resultType="Food" parameterType="Integer">
      select * from area a,tempt t,kind k where a.aId = t.tArea and k.kId = t.tKind and t.tArea = #{tArea}
    </select>

    <!--  根据session  查询username -->
    <select id="selAName"  parameterType="String" resultType="int">
     select aid from area where aid = (select aid from users where uusername = #{username})
    </select>

    <delete id="DelAll" parameterType="Integer[]">
        delete from menu where mId in
        <foreach collection="array" open="(" item="id" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="DelFood" parameterType="Integer">
        delete from menu where mId = #{mId}
    </delete>
    <select id="findCount" resultType="int">
        select count(mId) from menu
    </select>
    <select id="SelFoodAll"  parameterType="map"   resultType="map">
        select m.mId,m.mName,m.mPrice,m.mImg,k.kName,a.aName from menu m,kind k,area a where m.mKind = k.kId and m.mArea = a.aId
           order by m.mId desc
         limit #{begin},#{count}

    </select>
    <insert id="InsertFood" parameterType="Food">
        insert into menu(mName,mPrice,mImg,mKind,mArea) values(#{mName},#{mPrice},#{mImg},#{mKind},#{mArea})
    </insert>
    <insert id="InsertFoods" parameterType="Food">
        insert into menu(mName,mPrice,mImg,mKind,mArea) values(#{mName},#{mPrice},#{mImg},#{mKind},#{mArea})
    </insert>
    <update id="UpdateFood" parameterType="Food">
        update menu set mName=#{mName},mPrice=#{mPrice},mImg=#{mImg},mKind=#{mKind},mArea=#{mArea} where mId=#{mId}
    </update>
    <select id="UpdFoodId" resultType="Food">
        select mId,mName,mPrice,mImg,mKind,mArea from menu where mId = #{mId}
    </select>

    <!-- 新增 -->
    <select id="findTemptKind" parameterType="int" resultType="Map">
        select * from tempt t, kind k,area a where t.tkind=k.kId and t.tArea=a.aId and aId=#{aId}
    </select>
    <insert id="insertKind" parameterType="Map">
        insert into kind(kName) values(#{kName});
    </insert>
    <insert id="insertTempt" parameterType="Map">
        insert into tempt(tArea,tKind) values(#{tArea},(select Max(kId) from kind));
    </insert>
    <delete id="deleteTempt" parameterType="int">
        delete from tempt where tId=#{tId}
    </delete>
    <update id="UpdKind" parameterType="Map">
        update kind set kName=#{kName} where kId=(select tkind from tempt where tId=#{tId})
    </update>
</mapper>