<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.store08.mapper.VipMapper">
    <!--查看会员-->
    <select id="findall"  parameterType="Map" resultType="Map">
      select v.vid,v.vname,v.vCount,v.vAcount,v.vBeginDate,v.vPhone,v.vstate,v.vidc,v.vState,v.vSum,t.vDiscount,t.vGrade,t.vDisplay from vip v left join vtype t on v.vidc=t.vIdc limit #{begin},#{end}
    </select>
    <select id="vipFindall" resultType="Integer">
        select count(*) from vip
    </select>
    <!--查看会员状态-->
    <select id="typeFindall" resultType="VipVO">
        select * from vType
    </select>
    <!--注册会员-->
    <insert id="addVip" parameterType="VipVO">
        insert into vip (vName,vCount,vBeginDate,vPhone,vIdc,vAcount,vState,vSum)values(#{vName},#{vCount},NOW(),#{vPhone},#{vIdc},#{vAcount},#{vState},#{vSum})
    </insert>
    <!--查询要修改的会员信息-->
    <select id="vipOne" parameterType="Integer" resultType="VipVO">
        select * from vip where vid = #{id}
    </select>

    <select id="vipTwo" parameterType="Integer" resultType="VipVO">
        select v.vSum,t.vLimit from vip v,vtype t where v.vIdc = t.vIdc and vid = #{id}
    </select>
    <!--修改会员-->
    <update id="updateVip" parameterType="VipVO">
        update vip set vName=#{vName},vPhone=#{vPhone},vidc=#{vIdc},vAcount=#{vAcount},vState=#{vState} where vid=#{vid}
    </update>
    <!--查看会员消费记录-->
    <select id="billsFindall" parameterType="Map" resultType="Map">
        select v.vName,v.vCount,vAcount,t.vGrade,vDisplay,b.vBalance,o.oDate,o.oPrice from vbills b left join vip v on b.vid=v.vid left join vType t on b.vidc = t.vidc
        left join orders o on v.vPhone=o.vPhone
        <where> 1=1
            <if test="vName!=null and vName!='' ">
                and v.vName like concat('%',concat(#{vName},'%'))
            </if>
            <if test="vCount!=null and vCount!=''">
                and v.vCount like concat('%',concat(#{vCount},'%'))
            </if>
        </where>
        order by  o.oDate  desc
        limit #{begin},#{end}
    </select>
    <select id="countBills" resultType="Integer">
        select count(*) from vbills
    </select>
    <!--查询金额-->
    <select id="selectVip" resultType="Vip" parameterType="Integer">
        select vAcount from vip where vid = #{id}
    </select>
    <!--修改金额-->
    <update id="editVip" parameterType="Vip">
        update vip set  vAcount=#{vAcount},vSum=#{vSum} where vid = #{vid}
    </update>
    <update id="UpdVip" parameterType="VipVO">
        update vip v,vtype t set v.vIdc=1 where v.vSum &lt; (select vLimit from vtype where vIdc = 2)
    </update>
    <update id="UpdVipOne" parameterType="VipVO">
        update vip v,vtype t set v.vIdc=2 where v.vSum &gt;= (select vLimit from vtype where vIdc = 2) and v.vSum &lt; (select vLimit from vtype where vIdc = 3)
    </update>
    <update id="UpdVipTwo" parameterType="VipVO">
        update vip v,vtype t set v.vIdc=3 where v.vSum &gt;= (select vLimit from vtype where vIdc = 3) and v.vSum &lt; (select vLimit from vtype where vIdc = 4)
    </update>
    <update id="UpdVipThree" parameterType="VipVO">
        update vip v,vtype t set v.vIdc=4 where v.vSum &gt;= (select vLimit from vtype where vIdc = 4) and v.vSum &lt; (select vLimit from vtype where vIdc = 5)
    </update>
    <update id="UpdVipFour" parameterType="VipVO">
        update vip v,vtype t set v.vIdc=5 where v.vSum &gt;= (select vLimit from vtype where vIdc = 5)
    </update>
</mapper>