<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../common/layui/css/layui.css">
    <script src="../common/layui/layui.js"></script>
    <script src="../common/layui/jquery-1.8.3.min.js"></script>


</head>
<body>
<button id="return" class="layui-btn" type="button">返回</button>

<table class="layui-hide" id="dg" lay-filter="dg"></table>
<script id="barDemo" type="text/html">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="perform">菜品状态</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看发票</a>
</script>
<script>
    layui.use(['table','util'], function(){
        var util = layui.util;
        $ = layui.jquery;
        var table = layui.table;
        table.render({
            elem: "#dg",//表格table的id属性
            url: "../Test/SelOrdersDetails", //请求数据接口
            limits: [10,20,30],
            limit:10,//要传向后台的每页显示条数
            //,page:true(自带的这个要注掉)
            page:true,
            title: '查询所有信息',
            /*  ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档 */
            cols: [ [
                {field : 'oId', title : "订单编号",align:'center', sort: true},
                {field : 'aName', title : "所属区域",align:'center', sort: true},
                {field : 'oDesk', title : "桌号",align:'center', sort: true},
                {field : 'oDate',title: '日期', width:'20%',align:'center',sort: true,
                    templet:function(d){
                    return util.toDateString(d.oDate, "yyyy-MM-dd HH:mm:ss")
                }
                },
                {field : 'oPrice', title:"应付价",align:'center', sort: true},
                {field : 'oyPrice', title : "折扣价",align:'center', sort: true},
                {field: 'ocPrice', title: "原价",align:'center', sort: true},
                {field : 'vPhone', title : "手机号",align:'center', sort: true},
                {field : 'payment', title : "状态",align:'center', sort: true},
                {field : "action",title : "操作",width:260,align:'center',toolbar: '#barDemo'}

            ] ]

        });

        table.on('tool(dg)', function(obj){
            var data = obj.data;
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

            //layer.msg(data.oId);
            if(layEvent === 'detail'){
                layer.msg('ID：'+ data.oId + ' 的查看操作');
                layer.open({
                    type: 2,
                    title: '查询发票',
                    maxmin: true,
                    area : ['500px','600px'],
                    shadeClose: false, //点击遮罩关闭
                    content: '../Orders/findOrdersDetails?oId='+data.oId,
                    success: function(layero, index){
                        $('#win100').height('auto');
                    }
                })
            } else if(layEvent === 'perform'){
                layer.open({
                    type: 2,
                    title: '菜品状态',
                    maxmin: true,
                    area : ['1000px','650px'],
                    shadeClose: false, //点击遮罩关闭
                    content: '../perform/tfindDetails?id='+data.oId,
                    success: function(layero, index){
                        $('#win100').height('auto');
                    }
                })
            }
        });

        $(function(){
            $("#return").click(function () {
                location.href="../page/home.html";
            })
        })

    });
</script>
</body>

</html>