
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>点餐信息</title>
    <link rel="stylesheet" href="../common/layui/css/layui.css">
    <script src="../common/layui/layui.js"></script>
    <script src="../common/layui/jquery-1.8.3.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">

</head>

<form class="layui-form">
    <div class="layui-input-inline">
        <label class="layui-form-label" style="width: 200px;"> 客户详细用餐信息</label>
    </div>
    <div class="layui-form-item" style="top: 200px;">
        <label class="layui-form-label">所在餐桌</label>
        <div class="layui-input-inline">
            <input type="text" th:value="${slist[0].odesk}" readonly    autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">会员名字</label>
        <div class="layui-input-inline">
            <input type="text"  th:value="${slist[0].vname}" th:if="${slist[0].vname!=''}"  readonly autocomplete="off" class="layui-input">
            <input type="text"  th:value="顾客不是会员" th:if="${slist[0].vname==''}"  readonly autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">会员标号</label>
        <div class="layui-input-inline">
            <input type="text" name="acount"  th:value="${slist[0].vphone}" th:if="${slist[0].vphone!=''}"  readonly autocomplete="off" class="layui-input">
            <input type="text" name="acount"   th:value="顾客不是会员" th:if="${slist[0].vphone==''}"  readonly autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">会员等级</label>
        <div class="layui-input-inline">
            <input type="text"  th:value="${slist[0].vGrade}" th:if="${slist[0].vGrade!=''}"  readonly autocomplete="off" class="layui-input">
            <input type="text"  th:value="顾客不是会员" th:if="${slist[0].vGrade==''}"  readonly autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">折扣力度</label>
        <div class="layui-input-inline">
            <input type="text"  th:value="${slist[0].vDisplay}" th:if="${slist[0].vDisplay!=''}"  readonly autocomplete="off" class="layui-input">
            <input type="text"  th:value="无优惠" th:if="${slist[0].vDisplay==''}"  readonly autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">下单备注</label>
        <div class="layui-input-inline">
            <input type="text"  th:value="${slist[0].vCount}" readonly autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">实付金额</label>
        <div class="layui-input-inline">
            <input type="text" name="money" id="money"  th:value="${slist[0].ocprice}" readonly autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">优惠金额</label>
        <div class="layui-input-inline">
            <input type="text" th:value="${slist[0].oyprice}" readonly autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">应付金额</label>
        <div class="layui-input-inline">
            <input type="text" id="expences"  th:value="${slist[0].oprice}" readonly autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品名称</label>
        <div class="layui-input-inline">
            <input type="text" th:each="s:${slist}" readonly th:value="${s.odname}"  autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">菜品单价</label>
        <div class="layui-input-inline">
            <input type="text" th:each="s:${slist}" readonly th:value="${s.odprice}" autocomplete="off" class="layui-input">
        </div>

    </div>
    <div class="layui-input-inline" style="display:none;">
        <select id="vIdc"  lay-filter="aihao">
            <option th:each="s:${slist}" th:value="${s.vid}"></option>
        </select>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="left: 150px">付款状态</label>
        <div class="layui-input-inline" style="left: 150px">
            <input type="text" name="payment" th:value="${slist[0].payment}"  readonly autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label" style="left: 160px">会员余额</label>
        <div class="layui-input-inline" style="left: 160px">
            <input type="text" name="vAcount" th:value="${slist[0].vAcount}"  readonly autocomplete="off" class="layui-input">
            <a  type="button"  class="layui-btn"  id="cz">充值</a>
            <input type="text" th:value="${id}" id="orderid" th:hidden="hidden">
        </div>
        <hr>
        <div class="layui-input-inline" style="left: 780px" >
            <input type="button"  class="layui-btn" id="accounts" value="结账》》》">
        </div>

    </div>
</form>


<script type="text/javascript" th:inline="none">
    layui.use(['table','layer','util','laydate','jquery'], function() {
        var layer = layui.layer;
    $("#cz").on('click',function(){
        var acount = $("input[name=acount]").val();
        if(acount=="顾客不是会员"){
            alert("请注册会员!")
            layer.open({
                type: 2,
                title: '会员信息注册',
                maxmin: true,
                area: ['500px', '500px'],
                shadeClose: false, //点击遮罩关闭
                content: '../vip/vipAdd',
            });
        }else{
                var vIdc = $("#vIdc").val();
                layer.open({
                    type: 2,
                    skin: 'layui-layer-demo', //样式类名
                    title: '充值页面',
                    closeBtn: 1, //显示关闭按钮
                    anim: 2,
                    area: ['300px', '150px'],
                    shadeClose: true, //开启遮罩关闭
                    content: '../member/pay?vcount=' + vIdc
                });

        }
    });
    $("#accounts").on('click',function(){
        var payment = $("input[name=payment]").val();
        var vAcount = $("input[name=vAcount]").val();
        var acount = $("input[name=acount]").val();
        var expences = $("#money").val();
        var vIdc = $("#vIdc").val();
        if(payment=="已付款"){
            alert("已付款");
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        }else{
            if(acount=="顾客不是会员"){
                layer.open({
                    type: 2,
                    skin: 'layui-layer-demo', //样式类名
                    title: '付款页面',
                    closeBtn: 1, //显示关闭按钮
                    anim: 2,
                    area: ['300px', '150px'],
                    shadeClose: true, //开启遮罩关闭
                    content: '../order/alipay?money='+expences
                });
            }else{
                var balance = vAcount-expences;
                if(balance>0){
                    layer.confirm("确定要付款吗？", {btn: ['确定', '取消'], title: "提示"}, function () {
                        var vIdc = $("#vIdc").val();
                        var orderid = $("#orderid").val();
                        window.top.location.href="../order/balance?balance="+balance+"&vid="+vIdc+"&orderid="+orderid;
                    });

                }else{
                    alert("余额不足，请充值！");
                    var vIdc = $("#vIdc").val();
                    layer.open({
                        type: 2,
                        skin: 'layui-layer-demo', //样式类名
                        title: '充值页面',
                        closeBtn: 1, //显示关闭按钮
                        anim: 2,
                        area: ['300px', '150px'],
                        shadeClose: true, //开启遮罩关闭
                        content: '../member/pay?vcount=' + vIdc
                    });
                }

            }
        }

    });
    });
</script>
<body>

</body>
</html>