<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../common/layui/css/layui.css">
    <script src="../../common/layui/layui.js"></script>
    <script src="../../common/layui/jquery-1.8.3.min.js"></script>
    <script src="../../common/layui/echarts.common.min.js"></script>
</head>
<body>
<div class="layui-tab-item layui-show">

    <div class="layui-inline"style="margin-top: -380px" >
        <table class="layui-hide"  id="area" lay-filter="area"></table>
    </div>
    <div class="layui-inline">
        <div id='findaName' style='width: 800px;height: 600px;'></div>
    </div>
</div>
</body>
</html>