<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../common/layui/css/layui.css">
    <script src="../common/layui/layui.js"></script>
</head>
<body>
<div>
    <form class="layui-form layui-from-pane"  style="margin-top:20px" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">员工姓名</label>
            <div class="layui-input-block">
                <input type="text" id="eName" style="width: 230px"  required  lay-verify="required" autocomplete="off" placeholder="请输入员工的姓名" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单选框</label>
            <div class="layui-input-block" id="IsPurchased">
                <input type="radio" name="eSex" value="男" title="男" checked="">
                <input type="radio" name="eSex" value="女" title="女">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">员工年龄</label>
            <div class="layui-input-block">
                <input type="text" id="eAge" style="width: 230px"  required  lay-verify="required" autocomplete="off" placeholder="请输入员工的年龄" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">日期选择</label>
                <div class="layui-input-inline" style="width: 230px">
                    <input type="text" name="eBirthday" class="layui-input" id="test1" placeholder="yyyy-MM-dd">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">员工区域</label>
            <div class="layui-input-block" style="width: 180px">
                <select id="eArea"  lay-filter="aihao">
                    <option th:each="a:${areas}" th:value="${a.aId}" th:text="${a.aName}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="margin-top:40px">
            <div class="layui-input-block">
                <button class="layui-btn  layui-btn-submit " lay-submit="stffadd" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button type="button" class="layui-btn layui-btn-primary" id="qx">取消</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    layui.use(['form','layer','laydate'],function(){
    var form = layui.form;
    var layer = layui.layer;
    var laydate = layui.laydate;
    $ = layui.jquery;
    form.render();
    form.on('submit(demo1)',function(data){
            var eName = $("#eName").val();
            var eSex = $('#IsPurchased input[name="eSex"]:checked ').val()
            var eAge = $("#eAge").val();
            var birthdate = $("#test1").val();
            var eArea = $("#eArea").val();
            var datademo;
            $.ajax({
                url:"../staff/addStaff_do",
                type:"post",
                async:false,
                data:{
                    eName:eName,
                    eSex:eSex,
                    eAge:eAge,
                    eBirthday:birthdate,
                    eArea:eArea,
                },
                dataType:"json",
                success:function(data){
                    datademo = data;
                }
            });
            if(datademo>0){
                    var index = parent.layer.getFrameIndex(window.name);
                    window.parent.location.reload();
                    parent.layer.close(index);
            }else{
                alert("添加失败！");
            }
    });
    $("#qx").on("click",function(){
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index);
    }),
        //常规用法
        laydate.render({
            elem: '#test1'
        });

    });
</script>
</body>
</html>